<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="nav-header">
        <div class="header-left">
            <img src="../../../assets/images/ecoReturn.jpeg">
            <h1 class="navbar-brand header-name" routerLink="home">Eco-Return</h1>
        </div>
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="login" routerLinkActive="active-link">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="payment" routerLinkActive="active-link">Payment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="support" routerLinkActive="active-link">Support</a>
            </li>
        </ul> 
    </div>
   
</nav>
