<div class="footer">
    <div class="footer-left">
        <div class="app-name">
            <h1>Eco-Return</h1>
            <p>#TrashToCash</p>
        </div>
        <div class="nav-links">
            <a routerLink="payment">Payment</a>
            <a routerLink="about">About</a>
            <a routerLink="support">Customer Support</a>
        </div>
    </div>
    <!-- socialmedia -->
    <div class="social-media-links">
        <a href="#" target="_blank"><img src="../../../assets/images/facebook.svg"></a>
        <a href="#" target="_blank"><img src="../../../assets/images/twitter.svg"></a>
        <a href="#" target="_blank"><img src="../../../assets/images/instagram.svg"></a>
        <a href="#" target="_blank"><img src="../../../assets/images/whatsapp.svg"></a>
        <a href="#" target="_blank"><img src="../../../assets/images/youtube.svg"></a>
    </div>
</div>