.home-page-content {
    background: url('../../../assets/images/plastic4.jpeg') no-repeat center top fixed;
    height: calc(100vh - 76px);

    h1 {
        color:#ffff;
        font-weight: bolder;
        font-style: italic;
        padding: 100px 100px 0 30px;
        font-size: 3.5rem;
    }

    p {
        padding: 20px;
        color: #ffff;
        font-weight: 600;
        margin-top: 105px;
        margin-bottom: 0px;
        font-size: 17px;

    }

    .solution-statement {
        color: sandybrown;
        font-size: 19px;
        margin-top: 0px;
    }

    .button-click {
        text-decoration-line: underline;
        color: cadetblue;
    }

}

@media only screen and (max-width:600px) {
    .home-page-content {
        height: calc(100vh + 126px);
        h1 {
            color: darkslategray;
            font-size: 2rem;
            padding: 52px 40px 0 20px;
        }

        p {
            margin-top: 25px;
            font-size: 16px;
        
        }
        .solution-statement{
            margin-top: 0px;
        }
    }

}