<div class="home-page-content">
    <h1>Small steps, big impact - let's work together to eliminate plastic waste!</h1>
    <p class="problem-statement">Plastic waste is a major environmental concern as it takes hundreds of years to decompose and often ends up in
        landfills, oceans, and other natural habitats, causing harm to wildlife and ecosystems.
        Despite awareness campaigns and recycling programs, many individuals are unaware of the benefits or do not
        prioritize recycling due to the lack of immediate rewards.</p>
        <p class="solution-statement">We are excited to offer you the chance to join the revolution by owning your very own reverse vending machine! <span class="button-click" (click)="onButtonClick()">Click here</span> to explore the many great opportunities available to become a part of this revolutionary movement.</p>
</div>